.navbar-brand img {
    height: 55px;
}

.custom-btn-color {
    background-color: #5e72e4; /* Change this to your desired background color */
    color: white;
    
}
    
  

.custom-btn-color:hover {
    background-color: #1686cb; /* Change this to your desired color */
     /* Change this to your desired text color */
  }

  