.navbar-brand img {
    height: 55px;
}

:host {
  position: sticky;
  top: 0;
  z-index: 999;
}

.custom-btn-color {
    
    border: 1px solid rgb(240, 240, 240);
}
    
  

// .custom-btn-color:hover {
//     background-color: #1686cb; /* Change this to your desired color */
//      /* Change this to your desired text color */
//   }

