<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-6" [routerLink]="['/home']">
      <img src="./assets/img/brand/argon-white.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text ">Menu</span>
          </a>
          <div *ngIf="{ isLoggedIn: isLoggedIn$ | async } as auth" class="dropdown-menu">
            <a *ngIf="auth.isLoggedIn" [routerLink]="['/user-profile']" class="dropdown-item">Profile</a>
            <a *ngIf="!auth.isLoggedIn" [routerLink]="['/login']" class="dropdown-item">Login</a>
            <a *ngIf="!auth.isLoggedIn" [routerLink]="['/register']" class="dropdown-item">Register</a>
            <a *ngIf="auth.isLoggedIn" (click)="logout()" class="dropdown-item">Logout</a>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">What we do</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Focus areas</h6>
                  
                  <a [routerLink]="['/home']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Disaster Preparedness and Response</p></a>
                  <a [routerLink]="['/home']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Emergency Shelter and Housing</p></a>
                  <a [routerLink]="['/home']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Food Security and Nutrition</p></a>  
                  <a [routerLink]="['/home']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Healthcare and Medical Assistance</p></a>  
                  <a [routerLink]="['/home']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Psychological and Emotional Support</p></a>  
                  <a [routerLink]="['/home']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Community Resilience</p></a>  
                  <a [routerLink]="['/home']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Environmental Rehabilitation</p></a>  
               </div>
             
            </div>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Take action</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Get involved</h6>
                  
                  <a [routerLink]="['/home']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Work with us</p></a>
                  <a [routerLink]="['/home']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Partner with us</p></a>
                  <a [routerLink]="['/donate']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Donate</p></a>  
                  <a [routerLink]="['/home']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Volunteer</p></a>  
                  <a [routerLink]="['/logistic-aid']" class="dropdown-item"><p class="description d-none d-md-inline-block mb-0">Logistic aid</p></a>  
                  
               </div>
             
            </div>
          </div>
        </li>
        
      </ul>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
        
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a [routerLink]="['/need']" class="btn btn-primary  btn-icon custom-btn-color">
            <span class="btn-inner--icon">
              <i class="fa fa-plus-square mr-2" aria-hidden="true"></i>
            </span>
            <span class="nav-link-inner--text">Claim need</span>
          </a>
        </li>


        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a [routerLink]="['/donate']" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-money mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Donate</span>
          </a>
        </li>

        
        
      </ul>
    </div>
  </div>
</nav>
